[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=sqlworkbench
GenericName=Workbench
GenericName[en_US]=SQL Workbench/J
Icon=/root/Applications/Workbench/workbench32.png
MimeType=
Name=SQL Workbench/J
Name[en_US]=SQL Workbench/J
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
